<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  
  <!-- BokehJS (required for interactive plots) -->
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.7.1.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.7.1.min.js"></script>

  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>